
<section class="contact-us-section padding-b-120">
    <div class="container container-two">
        <div class="contact-form bg-white">  
    <div class="section-heading">
        <span class="section-heading__subtitle bg-gray-100"> 
            <span class="text-gradient fw-semibold">Contact us</span> 
        </span>
        <h2 class="section-heading__title">Do you have any question? </h2>
        <p class="section-heading__desc">For your car we will do everything  advice, repairs and maintenance. We are the some preferred choice by many car owners because</p>
    </div>
    <form action="#" class="contact-form__form">
        <div class="row gy-4">
            <div class="col-sm-6 col-xs-6">
                <input type="text" class="common-input" placeholder="Your Name">
            </div>
            <div class="col-sm-6 col-xs-6">
                <input type="email" class="common-input" placeholder="Your E-mail">
            </div>
            <div class="col-sm-6 col-xs-6">
                <input type="tel" class="common-input" placeholder="Phone Number">
            </div>
            <div class="col-sm-6 col-xs-6">
                <input type="text" class="common-input" placeholder="Subject">
            </div>
            <div class="col-12">
                <textarea class="common-input" placeholder="Your Message"></textarea>
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-main w-100">Submit Now</button>
            </div>
        </div>
    </form>
</div>
    </div>  
</section>
