 <!-- ============================= Blog Sidebar Start ======================== -->
<div class="common-sidebar-wrapper">
    <div class="common-sidebar p-0">
    <form action="#" autocomplete="off">
        <div class="search-box style-two w-100">
            <input type="text" class="common-input" placeholder="Type here...">
            <button type="submit" class="icon"><i class="fas fa-search"></i></button>
        </div>
    </form>
</div>
    <div class="common-sidebar">
    <h6 class="common-sidebar__title"> Category </h6>
    <ul class="category-list">
        <li class="category-list__item">
            <a href="blog-classic.html" class="category-list__link flx-between">
                <span class="text">Prime Investments</span>
                <span class="number">(1)</span>
            </a>
        </li>
        <li class="category-list__item">
            <a href="blog-classic.html" class="category-list__link flx-between">
                <span class="text">ProHome Finders</span>
                <span class="number"> (8) </span>
            </a>
        </li>
        <li class="category-list__item">
            <a href="blog-classic.html" class="category-list__link flx-between">
                <span class="text">SmartHouse Agency</span>
                <span class="number"> (3) </span>
            </a>
        </li>
        <li class="category-list__item">
            <a href="blog-classic.html" class="category-list__link flx-between">
                <span class="text">Secure Property Partners</span>
                <span class="number"> (5) </span>
            </a>
        </li>
    </ul>
</div>
    <div class="common-sidebar">
    <h6 class="common-sidebar__title"> Recent Post </h6>
    <div class="latest-blog">
        <div class="latest-blog__thumb">
            <a href="blog-details.html"> <img src="assets/images/thumbs/latest-blog1.png" class="cover-img" alt=""></a>
        </div>
        <div class="latest-blog__content">
            <span class="latest-blog__category font-12 flx-align gap-1">
                <span class="icon text-gradient"><i class="fas fa-folder-open"></i></span>
             Category</span>
            <h6 class="latest-blog__title">
                <a href="blog-details.html">A picture is worth standard and stand us return</a>
            </h6>
        </div>
    </div>
    <div class="latest-blog">
        <div class="latest-blog__thumb">
            <a href="blog-details.html"> <img src="assets/images/thumbs/latest-blog2.png" class="cover-img" alt=""></a>
        </div>
        <div class="latest-blog__content">
            <span class="latest-blog__category font-12 flx-align gap-1">
                <span class="icon text-gradient"><i class="fas fa-folder-open"></i></span>
             Category</span>
            <h6 class="latest-blog__title">
                <a href="blog-details.html">Your journ homeownership starts here</a>
            </h6>
        </div>
    </div>
    <div class="latest-blog">
        <div class="latest-blog__thumb">
            <a href="blog-details.html"> <img src="assets/images/thumbs/latest-blog3.png" class="cover-img" alt=""></a>
        </div>
        <div class="latest-blog__content">
            <span class="latest-blog__category font-12 flx-align gap-1">
                <span class="icon text-gradient"><i class="fas fa-folder-open"></i></span>
             Category</span>
            <h6 class="latest-blog__title">
                <a href="blog-details.html">Trust us to guide you the a through the process</a>
            </h6>
        </div>
    </div>
</div>
    <div class="common-sidebar">
    <h6 class="common-sidebar__title"> Tags </h6>
    <ul class="tag-list">
        <li class="tag-list__item">
            <a href="blog-classic.html" class="tag-list__link">All Project</a>
        </li>
        <li class="tag-list__item">
            <a href="blog-classic.html" class="tag-list__link">Finders</a>
        </li>
        <li class="tag-list__item">
            <a href="blog-classic.html" class="tag-list__link">Home Sales</a>
        </li>
        <li class="tag-list__item">
            <a href="blog-classic.html" class="tag-list__link">Swift</a>
        </li>
        <li class="tag-list__item">
            <a href="blog-classic.html" class="tag-list__link">Reliable Rentals</a>
        </li>
        <li class="tag-list__item">
            <a href="blog-classic.html" class="tag-list__link">Living</a>
        </li>
    </ul>
</div>
</div>
<!-- ============================= Blog Sidebar End ======================== -->